
<p id="notice"><%= notice %></p>

<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="card-title">
      Messages
    </div>
  </div>

  <div class="card-body">
    <% @conversations.each do |conversation| %>
      <div class="row">
        <% user = @users.find { |user| [conversation.inviter_id, conversation.invitee_id].include?(user.id)} %>
        <p><%= link_to user.name, conversation_path(conversation) %><br>
        <% if conversation.messages.present? %>
          <% if conversation.messages.last.sender_id == current_user.id %>
            Me: <%= conversation.messages.last.content %><br>
          <% else %>
            Them: <%= conversation.messages.last.content %><br>
          <% end %>
        <% else %>
          No messages sent</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
