<p id="notice"><%= notice %></p>
<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="card-title">
      <%= @partner.name %>
    </div>

    <div style="margin-left: auto">
      <%= link_to 'Back', conversations_path, class: 'mb-2 mr-2 btn btn-primary' %>
    </div>
  </div>

  <div id='messages' class="card-body">
    <%= render partial: 'messages', locals: {conversation: @conversation, messages: @messages, partner: @partner} %>
  </div>
</div>
