<div class="app-wrapper-footer">
  <div class="app-footer">
    <div class="app-footer__inner">
      <div class="app-footer-left">

            Made By <a href="https://abhishek2718.github.io" class="nav-link" style="padding-left: 5px!important;padding-right: 5px!important;">Abhishek Kumar</a>
       and <a href="https://nirmalhk7.github.io"class="nav-link" style="padding-left: 5px!important;">Nirmal Khedkar</a>


      </div>
      <div class="app-footer-right">
        <ul class="nav">
          <li class="nav-item">
            <div class="mb-2 mr-2 badge badge-light">
              Built at NIT Conclave 2019
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>