<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="card-title">
      Editing Collaboration Request
    </div>
    <div style="margin-left: auto">
      <%= link_to 'Show', @collaboration, class: "mb-2 mr-2  btn btn-primary"   %>
      <%= link_to 'Back', collaborations_path, class: "mb-2 mr-2  btn btn-primary"   %>
    </div>
  </div>
  <div class="card-body">

    <%= render 'form', collaboration: @collaboration %>
  </div>
</div>


